@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Roboto');



#title{
    font-family: 'Major Mono Display', monospace;
    font-size: 300%;
    color: #424242;
    float: left;
}

#bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}

#usermenu {
   float: right;
   margin-left: auto;
   margin: auto;
}

#menu-title #page-title {
    color: #424242;
    float: left;
    margin-top: -7px;
}

#menu-title {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
}

