.options-container{
    display:flex; 
    flex-direction:row;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
}

#simple{
    display:none;
}

#inputGroup{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 70%;
    margin-bottom: 0px;
}

.table-options{
    float:right;
    padding: 0px;
    
}

#displaytable{
    margin-bottom: 0px;
}

.close {
    display: none;
}