.goalsbox{
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

.enabled {
  background-color: rgb(210, 231, 176);
}

.disabled {
  background-color: rgb(145, 145, 145);

}

  #dumb{
    display:none;
  }

  .goals {
    height: 60vh;
    overflow: scroll;
  }

  .goals > div{
      /* display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
  }
  
  .goals .singleGoalButtons {
      flex-direction: row;
  }

  .editform #button {
    border-radius: 0%;
    width: 30px;
    height: 30px;
    margin: 10px;
  }

  .editform #buttonline {
    border-radius: 0%;
    width: 30px;
    height: 30px;
    margin: 10px;
  }

  .goals h2 {
    font-weight: 300;
  }
  
  #singleGoal {
    width: 80%;
    padding-top: 5px;
    /* margin-bottom: 10px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .singleGoalContent:hover{
    border: solid grey thin;
  }
  
  .textContent {
    width: 100%;
  }

  .modal-content {
    overflow-wrap: break-word; 
  }

  .singleGoalContent {
    border:solid rgb(230, 230, 230) thin;
    box-shadow: 1px 1px 5px #646464;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    height: 50px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: start;
    align-content: center;
  }

  
  .singleGoalContent > h3 {
    font-size: 20px;
    color: #424242;
    cursor: pointer;
    border: none !important;
    padding: 5px !important;
  }
  
  .singleGoalContent p {
    font-size: 12px;
    margin: 0;
  }

  .singleGoalButtons {
    display:flex;
    flex-direction: row;
    display: flex;
    align-items: center;
  }

  .singleGoalButtons img {
    margin: 0px 3px;
    width: 30px;
    cursor: pointer;
    display: inline-block
  }

  
  .form {
    width: 100%;
    padding: 10px 5%;
  }

  .form #buttonline {
    height: 40px;
    width: 40px;
    padding: 0px;
    float: right;
    cursor: pointer;
  }
  
  .form #button {
    height: 40px;
    width: 40px;
    padding: 0px;
    float: right;
    cursor: pointer;
  }
  
  #popup h3 {
    height: 30px;
    padding-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    width: 100%;
  }

  .pdfbutton {
    width: 100px !important;
  }

  #submitbutton{
      background-color: #999;
      border:none;
  }

  #manufacturing_goals_title{
    color: rgb(158, 158, 158);
    font-size: 24px;
    padding-left: 52px;
    padding-top: 24px;
    cursor: auto;

  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #424242;
    opacity: 1; /* Firefox */
  }

  .searches {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .searchfield {
    display: flex;
    align-items: center;
  }

  .enablebutton {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 4px;
    cursor: pointer;
    border: thin black solid;
  }

  .enabled{
    background-color: #98FB98;
  }

  .disabled {
    background-color: lightgrey;

  }

  .MuiInput-underline-27:before {
    border-bottom: none !important;
  }

  .form-group > div > div {
    border-bottom: none !important;
  }

  .form-group > div > ::before {
    border-bottom: none !important;
  }
  
  .form-group > div > ::after {
    border-bottom: none !important;
  }

  .calculator-table tr{
      padding: 0px !important;
      grid-template-columns:  repeat(6, minmax(100px, 1fr));
      overflow:hidden;
  }

  #popup {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
    max-width: 700px;
    min-width: 650px !important;
  }



  