.palette-container{
    display: inline-block;
    width: 100%;
}

.noFocus:focus {
    outline: none;
}

.scheduler-container {
    display: flex;
    flex-direction: column;
}

.belowTimeline {
    display: grid;
    grid-template-columns: 6fr 5fr;
}