.goalsbox{
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

  #dumb{
    display:none;
  }

  .goals div {
      display:flex;
      flex-direction: column;
  }
  
  .goals h2 {
    font-weight: 300;
  }
  
  #singleGoal {
    padding: 10px 20px;
    margin-bottom: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 50px;
    align-items: center;
  }

  .singleGoalContent:hover{
    border: solid grey thin;
    background-color: rgb(223, 223, 223);
  }
  
  .singleGoalContent {
    min-width: 100px;
    border:solid rgb(230, 230, 230) thin;
    box-shadow: 1px 1px 5px #646464;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;
    border-radius: 5px;
    padding: 10px;
    height: 60px;
    display:flex;
    justify-content: center;
    cursor: pointer;
  }

  
  .singleGoalContent h3 {
    margin: 0;
    padding-right: 5px;
    font-size: 20px;
    color: #424242;
  }
  
  .singleGoalContent p {
    font-size: 12px;
    margin: 0;
  }

  
  .singleGoalButtons img {
    margin: 0px 3px;
    width: 20px;
    cursor: pointer;
    display: inline-block
  }

  
  .form {
    width: 100%;
    padding: 10px 5%;
    min-width: 300px;
  }
  
  .form #button {
    height: 40px;
    width: 40px;
    padding: 0px;
    border-radius: 50%;
    float: right;
    cursor: pointer;
  }
  
  #popup input {
    height: 30px;
    padding-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    width: 100%;
  }

  .pdfbutton {
    width: 100px !important;
  }

  #submitbutton{
      background-color: #999;
      border:none;
  }

  #manufacturing_goals_title{
    color: rgb(158, 158, 158);
    font-size: 24px;
    padding-left: 52px;
    padding-top: 24px;
    cursor: default;
  }

  