.report-picker-container {
    /* margin-top: 40px; */
}

.report-container {    
    width: 95%;
    margin: auto;
}

.report-container tr {
    grid-template-columns:  minmax(50px, .5fr) minmax(50px, .5fr) minmax(200px, 2.5fr) minmax(100px,1.5fr) minmax(100px,1.5fr) minmax(150px,2fr) minmax(100px,1.5fr);
    text-align: center;
    overflow: hidden;
}

.report-container td, .report-container th {
    display: flex;
    justify-content: center;
}

.filter-container{
    display:flex; 
    flex-direction:row; 
    flex-wrap: nowrap;
    /* align-items: center; */
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
}

.filter-container .sku-drilldown-filter {
    margin: 5px;
    align-content: center;
}

.sku-drilldown-export {
    align-self: right;
}

.report-container .export-button .exportbutton {
    margin-left: auto;
    margin-right: 20px;
    margin-top: -10px;
    width: 110px;
}

.sales-item-details .sales-item-properties {
    display: flex; 
    width: 350px;
    margin: auto;
    align-items: left;
}

.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

.alert {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}