
.options-container{
    display:flex; 
    flex-direction:row;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
}

#simple{
    display:none;
}

#inputGroup{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 70%;
    margin-bottom: 0px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.table-options{
    float:right;
    padding: 0px;
    
}

#displaytable{
    margin-bottom: 0px;
}

.pagination-wrapper > *{
    background-color: #f8f9fa !important;
    padding-left: 20px;
    padding-right: 20px;
}

li {
    background-color: #f8f9fa !important;
    padding-bottom: -50px;
}

.page-item.active .page-link {
    background-color: rgb(0, 188, 212) !important;
    border-color: #212529;
}

.pagination li a{
    display: block;
}

.exportbutton{
    background-color: rgb(0, 188, 212) !important;
    border-color: #212529;
    height: 40px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-left: 20px;
    cursor: pointer;
}

.depbutton{
    background-color: rgb(0, 188, 212) !important;
    border-color: #212529;
    height: 40px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.manugoalbutton{
    background-color: rgb(0, 188, 212) !important;
    border-color: #212529;
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.ingbuttons{
    display: flex;
    flex-direction: row;
}

#addnewitem{
    width: 200px !important;
    height: 50px !important;
    align-self: center;
    border-radius: 100px;
    cursor: pointer;
}

Button {
    cursor: pointer;
}

.detailButtons {
    background-color: rgb(0, 188, 212) !important;
    border-color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: #f8f9fa;
}
.close {
    display: none;
}

.detailsfilter{
    margin-left: 0px;
}

.detailsfilter > div.filter-item {
    margin-left: 0px !important;
}