td {
    padding: 5px;
    height: auto !important;
    cursor: default;
}

.trselect > th {
    cursor: pointer;
}

.trselect > td{
    cursor: pointer;
}

tr > th {
    height: auto !important;
}

.superrow>* {
    padding-bottom: 5px !important;
    padding-top: 20px !important;
}

.superrow:first-child {
    height: 75px !important;
    padding: 0px !important;
    margin: 0px !important;
}

#complex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.filter-item {
    width: 60%;
    margin-left: 20px;
    margin-right: 10px;
    padding-bottom: 10px;
   
}

input {
    margin-bottom: 0px !important;
}

#pagetitle{
    margin-bottom: 10px;
    font-size: 20px !important;
    text-align: left;
    cursor: default;
}

#complex > .filter-item {
    padding: 0px;
}

.filter-item > div > div:first-of-type {
    height: 50px !important;
    padding: 0px;
   
}

div.css-15k3avv {
    cursor: pointer !important;
}

.filter-item > div > * {
    cursor: pointer !important;
}

.filter-item > div > div:first-of-type::selection {
    border: none;
}

td > .select {
    height: 50px !important;

}


