
.user-table tr {
    grid-template-columns:  minmax(100px, 3.5fr) minmax(100px, 3.5fr) minmax(100px, 3.5fr) minmax(100px,1.5fr);
}

.user-table #complex {
    grid-template-columns: minmax(150px, 1.5fr) minmax(200px , 1fr) minmax(200px, 1fr) 50px;
    justify-items: end;
}

.user-table #complex > *{
    justify-self: flex-end;
    
}

.user-table .superrow {
    grid-template-columns: 0fr 1fr 11fr;
}
